{% include "header.html" %}
<!-- Header-->
        <header id="home" class="masthead bg-black py-5 border-bottom">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="">
                        <div class="card text-center bg-black my-5">
                            <div class="page-heading title-text">
                                <h1 class="display-5 fw-bolder mb-2">MESSAGE SENT SUCCESSFULLY!</h1>
                                <hr>
                                <img class="title-image" src="{{ url_for('static', filename='/assets/gallery/pfr-logo.webp') }}" alt="gold-star">
                                <h2>THANK YOU FOR YOUR INTEREST IN PAPA'S FIREARM REPAIR</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% include "footer.html" %}
