{% include "header.html" %}
<!-- Header-->
        <header id="home" class="masthead bg-black py-5 border-bottom">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="">
                        <div class="card text-center bg-black my-5">
                            <div class="page-heading title-text">
                                <h1 class="display-5 fw-bolder mb-2">MESSAGE SENT SUCCESSFULLY!</h1>
                                <hr>
                                <div class="container px-5 my-5">
                                        <div class="row text-center">
                                            <div class="col-lg-4">
                                                <h3>ANTHONY EDWARDS SR</h3>
                                                <H4>OWNER-GUNSMITH</H4>
                                                <hr>
                                            </div>
                                            <div class="col-lg-4">
                                                <img class="title-image" src="{{ url_for('static', filename='/assets/pfr-logo.webp') }}" alt="gold-star">
                                            </div>
                                            <div class="col-lg-4">
                                                <h3>360-643-3836</h3>
                                                <h4>PFR2014@Outlook.com</h4>
                                                <hr>
                                            </div>
                                        </div>
                                <h2>THANK YOU FOR YOUR INTEREST IN PAPA'S FIREARM REPAIR</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% include "footer.html" %}
