<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Papa's Fireamrs Repair is a local business in Ladonia, TX. Papa (Anthony Edwards) is a skilled firearms expert dedicated to safety and quality of work." />
        <meta name="author" content="Matthew Draper" />
        <title>PAPA'S FIREARM REPAIR</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/assets/pfr-favicon.ico') }}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='/css/styles.css') }}" rel="stylesheet"/>
        <!-- Fonts from Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap" rel="stylesheet">
        <!-- Font Awesome js code-->
        <script src="https://kit.fontawesome.com/c7a0a36bf4.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-black">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top border-bottom">
            <div class="container px-5">
                <a class="navbar-brand" href="/">PAPA'S FIREARM REPAIR</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about-section">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact-section">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
