{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Header-->
<header id="home" class="masthead bg-black py-5 border-bottom">
    <h1 class="text-center display-5 fw-bolder mb-2">PAPA'S FIREARM REPAIR</h1>
    <hr>
    
    <div class="container px-5 my-5">
        <div class="row text-center">
            <div class="col-lg-4">
                <h3>ANTHONY EDWARDS SR</h3>
                <H4>OWNER-GUNSMITH</H4>
                <hr>
            </div>
            <div class="col-lg-4">
                <img class="title-image" src="{{ url_for('static', filename='/assets/pfr-logo.png') }}" alt="gold-star">
            </div>
            <div class="col-lg-4">
                <h3>360-643-3836</h3>
                <h4>PFR2014@Outlook.com</h4>
                <hr>
            </div>
        </div>
    

</header>
<!-- Gallery section-->
<section class="py-5 border-bottom bg-dark" id="gallery">
    <div id="gallery-carousel" class="carousel slide container px-5 my-5">
        <div class="carousel-inner justify-content-center">
            <div class="carousel-item active container-fluid">
                <div class="row">
                    <div class="col-lg-4 my-3">
                        <img class="gallery-image" src="{{ url_for('static', filename='/assets/gallery/img_1.webp') }}" alt="Unable to Load Image">
                        </a>
                    </div>
                    <div class="col-lg-4 my-3">
                        <img class="gallery-image" src="{{ url_for('static', filename='/assets/gallery/img_2.webp') }}" alt="Unable to Load Image">
                    </div>
                    <div class="col-lg-4 my-3">
                        <img class="gallery-image" src="{{ url_for('static', filename='/assets/gallery/img_3.webp') }}" alt="Unable to Load Image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item container-fluid">
                <div class="row">
                    <div class="col-lg-4 my-3">
                        <img class="gallery-image" src="{{ url_for('static', filename='/assets/gallery/img_4.webp') }}" alt="Unable to Load Image">
                        </a>
                    </div>
                    <div class="col-lg-4 my-3">
                        <img class="gallery-image" src="{{ url_for('static', filename='/assets/gallery/img_5.webp') }}" alt="Unable to Load Image">
                    </div>
                    <div class="col-lg-4 my-3">
                        <img class="gallery-image" src="{{ url_for('static', filename='/assets/gallery/img_6.webp') }}" alt="Unable to Load Image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item container-fluid">
                <div class="row">
                    <div class="col-lg-4 my-3">
                        <img class="gallery-image" src="{{ url_for('static', filename='/assets/gallery/3030-la.webp') }}" alt="Unable to Load Image">
                        </a>
                    </div>
                    <div class="col-lg-4 my-3">
                        <img class="gallery-image" src="{{ url_for('static', filename='/assets/gallery/ar-12.webp') }}" alt="Unable to Load Image">
                    </div>
                    <div class="col-lg-4 my-3">
                        <img class="gallery-image" src="{{ url_for('static', filename='/assets/gallery/grendel-6.5.webp') }}" alt="Unable to Load Image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#gallery-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#gallery-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- About section -->
<section id="about-section" class="bg-black py-5 border-bottom">
    <div class="col-lg-6 container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">ABOUT US</h2>
            <p class="lead mb-0 text-white-50">FAMILY OWNED AND OPERATED</p>
            <hr>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- About body -->
            <div class="text-left">
                <h3 class="about-text text-white-50">
                    <ul>
                        <li>Fedrally licensed, safe practices, quality guaranteed.</li>
                        <li>Onsite range for safe field-testing</li>
                        <li>10% discount for military, law-enforcement, fire fighters and EMTs!</li>
                    </ul>
                </h3>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials section-->
<section class="py-5 border-bottom bg-dark">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Customer testimonials</h2>
            <p class="lead mb-0 text-white-50">Our customers love working with us</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- Testimonial 1-->
                <div class="card mb-4 bg-black bg-gradient">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="testimonial-icon"><i class="fa-solid fa-crosshairs"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">Thanks for the AR kit and showing me how to clean/oil it. It shoots great, now and I'm looking forward to my next build!</p>
                                <div class="small text-muted">- Matthew Draper, Farmersville TX</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial 2-->
                <div class="card bg-black bg-gradient">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="testimonial-icon"><i class="fa-solid fa-crosshairs"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">My husband loves the new pistol I bought for him He carries it everywhere.</p>
                                <div class="small text-muted">- Krystina Draper, Farmersville TX</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial 3-->
                <div class="card bg-black bg-gradient">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="testimonial-icon"><i class="fa-solid fa-crosshairs"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">I got a good rifle for a decent price. The military discount helps.</p>
                                <div class="small text-muted">- Probably AJ, Fort Hood TX</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include "footer.html" %}
